
* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #46536A;
}
#wrapper {
    width: 500px;
    display: block;
    margin: 20px auto; 
    background-color: #DBFBA9;
    text-align: left;
    padding: 10px;
}
h1 {
    text-decoration: underline;
}
p {
    text-align: left;
    margin: 4px;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: rgb(95, 111, 182);
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 2px 2px 3px grey;
    display: block;
}
button {
    vertical-align: top;
    background-color: rgb(95, 111, 182);
    border: none;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 2px 2px 3px grey;
}