* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: rgb(49, 87, 121);
    font-family: sans-serif;
}
#wrapper {
    padding: 20px 10px;
    width: 970px;
    display: block;
    margin: auto;
    background-color: white;
}
#course_input {
    margin-left: 20px;
}
input {
    width: 40%;
}
textarea {
    width: 40%;
    height: 130px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
thead {
    background-color: rgb(49, 87, 121);
    color: white;
}
td {
    height: 50px;
    vertical-align: bottom;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: rgb(67, 156, 104);
    border: none;
    color: white;
    padding: 6px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 2px 2px 3px grey;
    display: block;
}
button {
    background-color: rgb(67, 156, 104);
    border: none;
    color: white;
    padding: 6px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 2px 2px 3px grey;
    display: inline-block;
}
.yes {
    background-color: red;
}
.no {
    background-color: grey;
}
a {
    text-decoration: none;
}